:root{
    --color-praimary: #333;
    --color-heading: rgb(83, 85, 92);
    --color-secondary: #2A6496;
    --color-accet: #ffbb00;
    --color-cards: #0054a2;
    --color-cards-txt: #fff;
    --color-middle: #dc3c00;
}
html{
    /* 62.5% of font size is 10px */
    font-size: 62.5%;
}
body{
    direction: rtl;
    font-family: 'IranSans';
}
@font-face {
    font-family:"IranSans" ;
    src: url(./font/FontsFree-Net-ir_sans.ttf);
}
*{
   margin: 0;padding: 0;box-sizing: border-box; 
}
h3{
    font-size: 2.4rem;
}
a{
    font-size: 1rem;
    text-decoration: none;
}
h1,h2,h3,a{
    color: var(--color-heading);  
}
ul{
    list-style: none;
}